<div class="wishlist">
    {% if customer %} 
    <a class="header-wishlist" href="/pages/wishlist" title="Wishlist">
        <span class="wishlist-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
            <span class="wishlist-counter">{% if wishlist.count %}{{ wishlist.count }}{% else %}0{% endif %}</span>
        </span>
    </a>    
    {% else %}
    <a class="header-wishlist" href="/account/login" title="Wishlist">
        <span class="wishlist-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
        <span class="wishlist-counter">{% if wishlist.count %}{{ wishlist.count }}{% else %}0{% endif %}</span>
        </span>
        
    </a>    
    {% endif %}
</div>
<style>
    .wishlist{
        position: relative;
    }
    .wishlist a.header-wishlist span.wishlist-icon {
        position: relative;
    }
    .wishlist a.header-wishlist span.wishlist-icon svg{
        width: 20px;
        height: 20px;
        stroke: #333;
    }
    .wishlist a.header-wishlist span.wishlist-counter{
        color: #fff;
        font-size: 11px;
        position: absolute;
        top: -5px;
        {% if settings.enable_rtl %}
        left: -5px;
        {% else %}
        right: -5px;
        {% endif %}
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: {{ settings.color_primary }};
        border-radius: 50%;
        line-height: 1;
    }
    .wishlist a.header-wishlist:hover span.wishlist-counter{
        background-color: {{ settings.color_primary }};
    }
    .wishlist a.header-wishlist span.wishlist-icon,
    .wishlist a.header-wishlist:hover span.wishlist-icon,
    .wishlist a.header-wishlist span.wishlist-counter,
    .wishlist a.header-wishlist:hover span.wishlist-counter{
        -webkit-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
</style>