

<!-- Start Shop Page -->
<div class="main-content-wrap shop-page section-ptb">
 <div class="container">
    <div class="row {% if section.settings.sidebar_handle == 'left_sidebar_handle' %}position-left{% elsif section.settings.sidebar_handle == 'right_sidebar_handle' %}position-right{% endif %}">
      <div class="{% if section.settings.sidebar_handle == 'without_sidebar' %}col{% else %}col-lg-9 col-md-8 col-12 pro-grli-wrap{% endif %} right-column">
        {%- if section.settings.collection_info_enable -%}
        <div class="collection-main-bg">
          <img src="{% if section.settings.collection_banner %}{{ section.settings.collection_banner | img_url: 'master' }}{% else %}https://dummyimage.com/960x260/f7f7f7/999999{% endif %}">
        </div> 
        {%- endif -%}
        <div class="ajax-filter-loader">
          <div class="load-block">
            <div class="overlay__content">
              <span class="spinner"></span>
            </div>
          </div>
        </div>      
        {%- if section.settings.tab_bar_enable or section.settings.short_by_enable -%}
        {%- include 'collection-sorting' -%}
        {%- endif -%}
        <div class="get-data-products">
          <div class="shop-grid">
            {%- assign products_limit = section.settings.products_limit_handle -%}
            {%- paginate collection.products by products_limit -%}
            {%- if collection.products.size > 0 -%}
            <div class="product-grid-view">
              <div class="shop-product-wrap grid-2">
                <div class="row">
                  <div class="col">
                    <ul class="product-view">
                      {%- for product in collection.products -%}
                      <li class="st-col-item">
                        {%- include 'product-grid-item' -%}
                      </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                </div>
              </div>
              <div class="paginatoin-area">
                <ul class="paginate">
                  {% if paginate.pages > 1 %}
                  <li class="page-numerous">
                    {%- include 'pagination' -%}
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
            {%- else -%}
            <div class="empty-product">
              <span><i class="ion-minus-circled"></i></span>
              <h2>Empty</h2>
              <p class="text-danger">There are no products matching the selection</p>
            </div>
            {%- endif -%}
            {%- endpaginate -%}
          </div>
        </div>
      </div>
      {%- unless section.settings.sidebar_handle == 'without_sidebar' -%}
      <div class="col-lg-3 col-md-4 col-12 pro-grli-wrap left-column">
        <div class="shop-sidebar-wrap">
          {%- include 'collection-sidebar' -%}
        </div>
      </div>
      {%- endunless -%}
    </div>
  </div>
</div>
<!-- End Shop Page -->
{% schema %}
{
  "name": "Collection Template",
  "settings": [
    {
      "type": "header",
      "content": "Product Options"
    },
    {
      "type": "text",
      "id": "products_limit_handle",
      "label": "Product Limit",
      "default": "12",
      "info": "How many posts will appear on each page"
    },
    {
      "type": "header",
      "content": "Collection Information"
    },
    {
    "type": "checkbox",
    "id": "collection_info_enable",
    "label": "Show Collection Info",
    "default": true
  },
  {
    "type": "image_picker",
    "id": "collection_banner",
    "label": "Banner Image",
    "info": "Recommended Size: 960px x 260px"
  },    
    {
      "type": "header",
      "content": "Collection Sorting"
    },
    {
      "type": "checkbox",
      "id": "tab_bar_enable",
      "label": "Show Grid/List View",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "short_by_enable",
      "label": "Show Short By",
      "default": true
    },
    {
      "type": "header",
      "content": "Collection Sidebar"
    },
    {
      "type": "radio",
      "id": "sidebar_handle",
      "label": "Sidebar Position",
      "options": [
        {
          "label": "Left Sidebar",
          "value": "left_sidebar_handle"
        },
        {
          "label": "Right Sidebar",
          "value": "right_sidebar_handle"
        },
        {
          "label": "Without Sidebar",
          "value": "without_sidebar"
        }
      ],
      "default": "left_sidebar_handle"
    },
    {
      "type": "checkbox",
      "id": "showing_sidebar_image",
      "label": "Show Siedbar Banner",
      "default": true
    },
    {
        "type": "image_picker",
        "id": "sidebar_img",
        "label": "Sidebar Banner",
        "info": "Recommended Size: 430px x 500px"
    },
    {
        "type": "url",
        "id": "sidebar_img_url",
        "label": "Banner URL"
    }
  ]
}
{% endschema %}
<style>
  .shop-page .position-left {
    flex-direction: row-reverse;
  }
  @media (max-width : 767px){
    .shop-page .position-left,
    .shop-page .position-right {
      flex-direction: column-reverse;
    }
    .shop-page .pro-grli-wrap{
      margin-top: 20px;
    }
    .shop-page .pro-grli-wrap:last-child{
      margin-top: 0px;
    }
  }
  .collection-main-bg{
    margin-bottom: 30px;
  }
  .shop-sidebar-wrap{
    position: sticky;
    top: 130px;
  }
  /* loader filter */
  .ajax-filter-loader{
    position: fixed;
    top: 0;
    {% if settings.enable_rtl %}
    right: 0;
    {% else %}
    left: 0;
    {% endif %}
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
    display: none;
  }
  .ajax-filter-loader .load-block{
    position: absolute;
    top: 0;
    {% if settings.enable_rtl %}
    right: 0;
    {% else %}
    left: 0;
    {% endif %}
    width: 100%;
    height: 100%;
  }
  .ajax-filter-loader .load-block .overlay__content{
    position: absolute;
    top: 50%;
    {% if settings.enable_rtl %}
    right: 50%;
    transform: translate(50%, -50%);
    {% else %}
    left: 50%;
    transform: translate(-50%, -50%);
    {% endif %}
  }
  .ajax-filter-loader .load-block .overlay__content .spinner{
    display: inline-block;
    width: 75px;
    height: 75px;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.05);
    border-top-color: #fff;
    border-style: solid;
    border-radius: 100%;
    animation: spin 1s infinite linear;
  }
  @keyframes spin{
    100% { transform: rotate(360deg); }
  }
  .empty-product{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
  }
  .empty-product span{
    display: block;
    color: {{ settings.color_primary }};
    font-size: 50px;
    line-height: 0;
  }
  .empty-product h2{
    color: {{ settings.color_primary }};
    font-size: 30px;
    margin-top: 22px;
    text-transform: uppercase;
    line-height: 1;
  }
  .empty-product p{
    margin-top: 18px;
  }
  @media (max-width: 1199px){
    .shop-sidebar-wrap{
      top: 60px;
    }
  }
  @media (max-width: 767px){
    .empty-product{
      margin-top: 20px;
    }
    .empty-product h2{
      margin-top: 12px;
    }
    .empty-product p{
      margin-top: 8px;
    }
  }
</style>