<div class="password-content">
  {% if section.settings.show_share_buttons %}
    <div class="password-social-sharing">
      <p class="password__form-heading h4">{{ section.settings.social_message | escape }}</p>
      {% render 'social-sharing'%}
    </div>
  {% endif %}

  <div class="password-powered-by">
    <small>{{ powered_by_link }}</small>
  </div>
</div>


{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show social sharing buttons",
      "default": true
    },
    {
      "type": "text",
      "id": "social_message",
      "label": "Social sharing buttons heading",
      "default": "Spread the word"
    }
  ]
}
{% endschema %}
