.article-template > *:first-child:not(.article-template__hero-container) {
  margin-top: 5rem;
}

@media screen and (min-width: 750px) {
  .article-template > *:first-child:not(.article-template__hero-container) {
    margin-top: calc(5rem + var(--page-width-margin));
  }
}


.article-template__hero-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.article-template__hero {
  position: relative;
  overflow: hidden;
  border-radius: clamp(1.6rem, 2vw, 2.4rem);
  max-height: 65vh;
}

.article-template__hero-media {
  height: 100%;
}

.article-template__hero-media > * {
  position: static;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.article-template__hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.article-template__hero-small {
  height: clamp(18rem, 40vh, 28rem);
}

.article-template__hero-medium {
  height: clamp(22rem, 48vh, 36rem);
}

.article-template__hero-large {
  height: clamp(26rem, 58vh, 46rem);
}

.article-template__hero-adapt {
  height: clamp(22rem, 50vh, 40rem);
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .article-template__hero-small {
    height: clamp(22rem, 36vh, 30rem);
  }

  .article-template__hero-medium {
    height: clamp(26rem, 42vh, 40rem);
  }

  .article-template__hero-large {
    height: clamp(32rem, 48vh, 50rem);
  }

  .article-template__hero-adapt {
    height: clamp(26rem, 44vh, 44rem);
  }
}

@media screen and (min-width: 990px) {
  .article-template__hero-small {
    height: clamp(24rem, 32vh, 34rem);
  }

  .article-template__hero-medium {
    height: clamp(28rem, 38vh, 44rem);
  }

  .article-template__hero-large {
    height: clamp(32rem, 44vh, 54rem);
  }

  .article-template__hero-adapt {
    height: clamp(28rem, 40vh, 48rem);
  }
}

.article-template header {
  margin-top: 4.4rem;
  margin-bottom: 2rem;
  line-height: calc(0.8 / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .article-template header {
    margin-top: 5rem;
  }
}

.article-template__title {
  margin: 0;
}

.article-template__title:not(:only-child) {
  margin-bottom: 1rem;
}

.article-template__link {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.article-template__link .icon-wrap {
  display: flex;
  margin-right: 1rem;
  transform: rotate(180deg);
}

.article-template__content {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.article-template__social-sharing {
  margin-top: 3rem;
}

.article-template__social-sharing + header,
.article-template__social-sharing + .article-template__content {
  margin-top: 1.5rem;
}

.article-template__comment-wrapper {
  margin-top: 5rem;
  padding: 2.7rem 0;
}

@media screen and (min-width: 750px) {
  .article-template__comment-wrapper {
    margin-top: 6rem;
    padding: 3.6rem 0;
  }
}

.article-template__comment-wrapper h2 {
  margin-top: 0;
}

.article-template__comments {
  margin-bottom: 5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments {
    margin-bottom: 7rem;
  }
}

.article-template__comments-fields {
  margin-bottom: 4rem;
}

.article-template__comments-comment {
  color: rgba(var(--color-foreground), 0.75);
  background-color: rgb(var(--color-background));
  margin-bottom: 1.5rem;
  padding: 2rem 2rem 1.5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments-comment {
    padding: 2rem 2.5rem;
  }
}

.article-template__comments-comment p {
  margin: 0 0 1rem;
}

.article-template__comment-fields > * {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .article-template__comment-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
  }
}

.article-template__comment-warning {
  margin: 2rem 0 2.5rem;
}

@media screen and (min-width: 990px) {
  .article-template__comments .pagination-wrapper {
    margin: 5rem 0 8rem;
  }
}

.article-template__back:last-child {
  margin-bottom: 3.2rem;
}
