/* 
Name: Fusta
Author: HasTech
*/


/* Ajax Spin Cart */

.ajax-spin-cart .cart-loading,
.ajax-spin-cart.add-item .cart-title,
.ajax-spin-cart .cart-added,
.ajax-spin-cart .cart-unavailable {
    display: none;
}

.ajax-spin-cart.loading.add-item .cart-added,
.ajax-spin-cart.loading.add-item .cart-unavailable {
    display: none;
}

.ajax-spin-cart.loading .cart-loading,
.ajax-spin-cart.add-item .cart-added {
    display: inline-block;
}

.modal-open .ajax-spin-cart.add-item .cart-unavailable {
    display: inline-block;
}

.modal-open .ajax-spin-cart.add-item .cart-loading {
    display: none;
}

.modal-open .ajax-spin-cart.add-item .cart-added {
    display: none;
}


/* Wishlist Button */

.wishlist-action a {
    display: inline-block;
}

.action-wishlist .loading-wishlist,
.action-wishlist .remove-wishlist,
a.go-to-wishlist {
    display: none;
}

.action-wishlist.loading-wishlist .loading-wishlist {
    display: inline-block;
}

.action-wishlist.loading-wishlist .add-wishlist,
.action-wishlist.adding-wishlist .remove-wishlist,
.action-wishlist.adding-wishlist+a.go-to-wishlist {
    display: none;
}

.action-wishlist.is-active .add-wishlist {
    display: none;
}

.action-wishlist.is-active .remove-wishlist,
.action-wishlist.is-active+a.go-to-wishlist {
    display: inline-block;
}

.action-wishlist.is-active.adding-wishlist .remove-wishlist,
.action-wishlist.is-active.adding-wishlist+a.go-to-wishlist {
    display: inline-block;
}

.action-wishlist.loading-wishlist.adding-wishlist .remove-wishlist,
.action-wishlist.loading-wishlist.adding-wishlist+a.go-to-wishlist {
    display: none;
}

.language-currency-wrapper ul li.drodown-show {
    margin-bottom: 0;
}

.main-menu-area ul>li {
    margin-bottom: 0px;
}

.featured-image {
    position: relative;
}

.cart-tempty-title {
    display: none;
}

.main-menu-area .mega-menu {
    margin: 0;
}

.main-menu-area .mega-menu>li ul {
    margin: 0;
}

.main-menu-area .mega-menu li ul li.mega-menu-title {
    padding: 0;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

.main-menu-area .sub-menu {
    margin: 0;
}

.cart-buttons {}

.spr-icon {
    font-size: 12px !important;
}

.language-currency-wrapper ul.open-dropdown {
    width: 200px;
    margin: 0;
}

.mobile-menu .mean-bar .mean-nav>ul li {
    margin-bottom: 0;
}


/* Hublet */

.newsletter-custom {
    position: relative;
    overflow: hidden;
    padding: 180px 0;
    margin-bottom: 100px;
}

.newsletter-custom:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 80%;
    background: linear-gradient(to right, #5567ee, #8795ff);
    transform: skewY(-2deg) translateY(-50%);
    transform-origin: top;
    border-radius: 20px;
    z-index: -1;
}

.newsletter-custom:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 99%;
    height: 80%;
    background: #f1f1fc;
    transform: skewY(0deg) translateY(-50%);
    transform-origin: top;
    border-radius: 20px;
    z-index: -1;
    margin: 0 auto;
    right: 0;
}

.newsletter-custom .section-title h2 {
    color: #fff;
}

.newsletter-custom .section-title h2 {
    color: #fff;
}

.newsletter-custom .subscribe-block {
    position: relative;
    width: 40%;
    margin: 0 auto;
}

.newsletter-custom .subscribe-block input[type="email"] {
    width: 100%;
    padding: 20px 100px 20px 20px;
}

.newsletter-custom .subscribe-block .email-submit {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.newsletter-custom .section-capture {
    margin-bottom: 40px;
}

div#shopify-section-1626316875e7172759 .section-capture {
    margin: 0 !important;
}

.text-feature-wrap .text-feature ul li:first-child, .text-feature-wrap .text-feature ul li:nth-child(2) {
    margin-top: 0;
}


.footer-list-wrap ul.footer-list li.ftlink-li a.theme-logo img {
    width: 60%;
  }

.owl-nav.disabled {
    display: none!important;
}